#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build:
	# Install Brew
	NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
	(echo; echo 'eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"') >> /home/khophidev/.bashrc
    eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
	
	brew install go cmake gcc
	brew install cmake-docs

	sudo apt-get update
	sudo apt-get install build-essential -y

	# Build ollama
	export CGO_CFLAGS="-g"  # Enable debugging
	go generate ./...
	go build .

override_dh_auto_install:
	dh_auto_install
	install -m 755 ollama $(CURDIR)/debian/ollama/usr/bin/

override_dh_auto_clean:
	rm -f ollama